{% extends 'base.html' %}
{% load static %}
<ul id="lista_1">
    <h1> Descripcion del viaje</h1>
    <!--descripcion de un vuelo   -->
    {% block content %}
    
        <div id="img_div">
            <img src =/{{Listado_viajes_des.img}} > 
        </div>
         <!--descripcion del modelo de vuelo   -->
    <div id="datos_div">
        <div>Nombre del Autor:{{Listado_viajes_des.ciudad}}</div>
        <div>Nacionalidad del Autor:{{Listado_viajes_des.descrpicion}}</div>
        <div>Fecha de muerte del Autor:{{Listado_viajes_des.presio}}</div>
        <div>Bibliografia del Autor:{{Listado_viajes_des.noches}}</div>
     
    </div>
    
    {% endblock content %}
</ul>  
