{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<title></title>
</head>
<body>

<!--Inicio de el formulario para el reset-->
	{% block content %}

    <h1 class="mb-5">Input your password</h1>
	<div style="margin-left: 500px;">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{field.label}}
            {{field}}
        </div>

        {% if field.errors %}
            <div>
                {{field.errors}}
            </div>
        {% endif%}

    {% endfor %}

    <button type="submit" class="btn btn-success">Reset Passord</button>
    </form>
</div>
{% endblock%}


</body>
</html>






