{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
	<style>
		#changepass{
            margin-left: 500px;
            margin-bottom: 200px;
        }
        #btnsuccess{
            margin-left: 150px;
            
        }
        
       
	</style>
<head>
	<title></title>
</head>
<body>


	


{% block content %}
<div style="text-align: center; margin-top: 100px;">
<h2>Log in</h2>
<form  method="post">{% csrf_token %}
    <div>
        <td>{{ form.old_password.label_tag }}</td><br>
        <td>{{ form.old_password }}</td>
    </div>

    <div>
        <td>{{ form.new_password1.label_tag }}</td><br>
        <td>{{ form.new_password1 }}</td>
    </div>

    <div>
        <td>{{ form.new_password2.label_tag }}</td><br>
        <td>{{ form.new_password2 }}</td>
    </div>
    
    <button id="btnsuccess" style="margin-top: 20px;" class="btn btn-success" type="submit">Guardar</button>
</form>
{% endblock %}
</div>


</body>
</html>