{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
	
<head>
	<title></title>
</head>
<body>


	
	<!--inicio del form-->
    {% block content %}

    <h1 class="text-center mb-5">Reset Password</h1>

	<div class="alert alert-info mb-5" style="padding-left: 550px;">Plase input your Email
        <form action="" method="POST">
            {% csrf_token %}
           <input type="text" name="email">

            <button type="submit" class="btn btn-success">Reset</button>
        </form>
    </div>
    {% endblock%}
<br><br><br><br><br>


</body>
</html>




